*, *::after, *::before { box-sizing: border-box; }
* {  margin: 0; }

@font-face {
  font-display: swap;
  font-family: 'inter';
  font-weight: 400;
  font-style: normal;
  src: url("inter-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "inter";
  font-weight: 700;
  font-style: normal;
  src: url('/inter-bold.woff2') format('woff2');
}

html {
  height: 100%;
  background: #E8E8E8;
}

body {
  background: #FFF;
  border: 1px solid #909090;
  font: normal normal normal 1.25rem/1.5 inter, sans-serif;
  margin: 0 auto;
  max-width: 992px;
  min-height: 100%;
}

header, main, footer {
  padding: 1.5rem 2.5rem;
}

h1 {
  font-size: 2.6rem;
  text-align: center;
}

p {
  margin: 0.5rem 0 1.5rem;
}

ol, ul {
  margin-bottom: 1.5rem;
}

pre {
  border-radius: 0.5rem;
  padding: 1.5rem;
}

a {
  color: #0369A1;
  text-decoration: underline #38BDF8;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
