---
import Layout from "../layouts/main.astro";
import { Code } from 'astro:components';
import { LitCounterButtons } from "../components/counter/CounterButtonsLit";
import VueCounterComponent from "../components/counter/CounterButtons.vue";
import SvelteCounterComponent from "../components/counter/DisplayCount.svelte";

const title = "Counter";
const description = "Astro is a web framework supporting multiple JavaScript libraries and rendering lifecycles.";
---
<Layout
	title={title}
	description={description}>

  <!-- Styles are scoped to the page. -->
  <style>
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      grid-auto-rows: 1fr;
      margin: 1rem;
    }
  </style>

  <p>The following counter utility uses Svelte, Lit, and Vue components. They are communicating through <a href="https://github.com/nanostores/nanostores">Nanostores</a>, a tiny state manager.</p>

  <section>
    <SvelteCounterComponent client:load />
    <LitCounterButtons client:load />
    <VueCounterComponent client:load />
  </section>

  <h2>Edits</h2>
  <p>
		The following files have been added, edited: 
	</p>

	<Code lang="text" code={
`ðŸ“ src
â”œâ”€â”€ ðŸ“ components
â”‚   â””â”€â”€ ðŸ“ counter
â”‚       â”” CounterButtons.vue âž•
â”‚       â”” CounterButtonsLit.ts âž•
â”‚       â”” DisplayCount.svelte âž•
â”œâ”€â”€ ðŸ“ lib
â”‚       â”” CounterStore.ts âž•
â”œ astro.config.mjs ðŸ“
â”œ svelte.config.js âž•
â”” tsconfig.json ðŸ“`} theme="catppuccin-latte">
	</Code>

  <h2>Also...</h2>
  <ul>
    <li><a href="https://tanstack.com/">Tanstack</a> has an impressive group of framework-agnostic JavaScript software.</li>
    <li>The Nanostores <code>atom</code> is IMO reminiscent of Brad Frost's <a href="https://atomicdesign.bradfrost.com/chapter-2/">Atomic Design</a>.</li>
  </ul>

</Layout>
