---
import Layout from "../layouts/main.astro";
import { Code } from 'astro:components';

const title = "Overview";
const description = "Astro is a web framework supporting multiple JavaScript libraries and rendering lifecycles.";
---
<Layout
	title={title}
	description={description}>

	<p>We start with a simple project structure with:</p>
	<ol>
		<li>A layout template</li>
		<li>One content page</li>
		<li>Global CSS Styling</li>
		<li>Configuration files for Astro and Typescript</li>
	</ol>

	<Code lang="text" code={
`root
├── src
│   └── layouts
│       └ main.astro
│   └── pages
│       └ index.astro
│   └── styles
│       └ GlobalStyles.css
├ astro.config.mjs
└ tsconfig.json`} theme="github-dark-default">
	</Code>

</Layout>
