---
import Layout from "../layouts/main.astro";
import { Code } from 'astro:components';

const title = "Overview";
const description = "Astro is a web framework supporting multiple JavaScript libraries and rendering lifecycles.";
---
<Layout
	title={title}
	description={description}>

	<p>We start with a simple project structure with:</p>
	<ol>
		<li>A layout template</li>
		<li>One content page</li>
		<li>Global CSS Styling</li>
		<li>Configuration files for Astro and Typescript</li>
	</ol>

	<Code lang="text" code={
`ðŸ“.
â”œâ”€â”€ ðŸ“ src
â”‚   â””â”€â”€ ðŸ“ layouts
â”‚       â”” main.astro
â”‚   â””â”€â”€ ðŸ“ pages
â”‚       â”” index.astro
â”‚   â””â”€â”€ ðŸ“ styles
â”‚       â”” GlobalStyles.css
â”œ astro.config.mjs
â”” tsconfig.json`} theme="catppuccin-latte">
	</Code>

</Layout>