---
import Layout from "../layouts/main.astro";
import { Code } from 'astro:components';

const title = "Overview";
const description = "Astro is a web framework supporting multiple JavaScript libraries and rendering lifecycles.";
---
<Layout
	title={title}
	description={description}>

	<p>To start scaffolding our project structure, we'll add a template and some global styles.</p>

	<Code lang="text" code={
`ðŸ“.
â”œâ”€â”€ ðŸ“ src
â”‚   â””â”€â”€ ðŸ“ layouts
â”‚       â”” main.astro âž•
â”‚   â””â”€â”€ ðŸ“ pages
â”‚       â”” index.astro ðŸ“
â”‚   â””â”€â”€ ðŸ“ styles
â”‚       â”” GlobalStyles.css âž•
â”” astro.config.mjs ðŸ“`} theme="catppuccin-latte">
	</Code>

</Layout>
