---
/* .astro frontmatter may be a combination of data, imports, business logic. */
import MainNavigation from "../components/navigation/MainNavigation";
import  "../styles/GlobalStyles.css";

const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<meta name="description" content={ description } />
		<title>{ title }</title>

	<!-- Global styles are inserted into the <head> -->
	</head>
	<body>
		<header>
			<h1>Choose Your Own Adventure with Astro</h1>
			<MainNavigation currentPath={pathname} />
		</header>

		<main>
			<!-- Page content is placed into <slot/>. -->
			<h2>{ title }</h2>
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
